<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dji.sdkdemo"
    android:versionCode="10"
    android:versionName="2.4.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.VIBRATE" /> 
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> 
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.usb.accessory" android:required="false" />
    <uses-feature android:name="android.hardware.usb.host" android:required="false" />

    <!-- Access Google based webservices -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <uses-library android:name="com.android.future.usb.accessory" />

        <meta-data
            android:name="com.dji.sdk.API_KEY"
            android:value="" />

        <activity
            android:name="com.dji.sdkdemo.DJIAoaActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:screenOrientation="sensorLandscape" 
            >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>
                  
        <activity
            android:name="com.dji.sdkdemo.SelectDroneTypeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" >
            
            <!-- 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             -->
            
        </activity>
        
       <activity
            android:name="com.dji.sdkdemo.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_mainactivity"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" >
        </activity>

        <activity
            android:name="com.dji.sdkdemo.PreviewDemoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/title_activity_preview"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" >
        </activity>
 
        <activity
            android:name="com.dji.sdkdemo.PreviewDemoHwDecodeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/title_activity_preview"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" >
        </activity>

        <activity
            android:name="com.dji.sdkdemo.CameraProtocolDemoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/title_activity_camera_protocol_demo"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.dji.sdkdemo.GimbalDemoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/title_activity_gimbal_demo"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.dji.sdkdemo.GsProtocolDemoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gs_protocol_demo"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.dji.sdkdemo.GsProtocolJoystickDemoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gs_protocol_demo"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" >
        </activity>
        
        <activity
            android:name="com.dji.sdkdemo.MainControllerDemoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main_controller_demo"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.dji.sdkdemo.BatteryInfoDemoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_battery_info_demo"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.dji.sdkdemo.RangeExtenderDemoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_range_extender"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" >
        </activity>


        <activity
            android:name="com.dji.sdkdemo.GsProtocolHotPointDemoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/title_activity_gs_hot_point_protocol_demo"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" >
        </activity>
        
        <activity
            android:name="com.dji.sdkdemo.RemoteControlDemoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/demo_title_remote_control_protocol"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" >
        </activity>

        <activity
            android:name="com.dji.sdkdemo.MediaSyncDemoActivity"
            android:label="@string/title_activity_media_sync_demo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"  >
        </activity>
        
        <activity
            android:name="com.dji.sdkdemo.ImageTransmitterDemoActivity"
            android:label="@string/title_activity_image_transmitter_demo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"  >
        </activity> 
       
       <activity
            android:name="com.dji.sdkdemo.GsProtocolFollowMeDemoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/title_activity_gs_follow_me_protocol_demo"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" >
        </activity>
	 
       <activity
            android:name="com.dji.sdkdemo.GsProtocolIocDemoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gs_protocol_demo"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" >
        </activity>
        
        <activity
            android:name="com.dji.sdkdemo.GetVideoFrameDataOnlyDemoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/title_activity_preview"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <service
            android:name="org.connectbot.service.TerminalManager"
            android:configChanges="keyboardHidden|orientation" />
        
    </application>

</manifest>